.people, addPSUicon {
    background: transparent url(https://lmstools.ais.psu.edu/favicon.ico) center left no-repeat;
    padding-left: 18px !important;
}

.people:link:hover, addPSUicon:link:hover {
        background: #f2f2f2 url(https://lmstools.ais.psu.edu/favicon.ico) center left no-repeat !important;
        padding-left: 18px !important;
    }

.psu-right-sidebar, .psu-right-sidebar:link:hover {
	background: #f7f7f7 url(https://lmstools.ais.psu.edu/favicon.ico) center left no-repeat !important;
	background-position: 10px !important;
    padding-left: 30px !important;
}

/* tool 189972 -- Course Search*/
.context_external_tool_188453, .context_external_tool_188455, .context_external_tool_188457, 
.context_external_tool_188458, .context_external_tool_188459, .context_external_tool_189230,
.context_external_tool_189972, .context_external_tool_193330, .context_external_tool_193389,
.context_external_tool_189151, .context_external_tool_193208, .context_external_tool_193326,
.context_external_tool_191156, .context_external_tool_193209, .context_external_tool_193210,
.context_external_tool_191161, .context_external_tool_190131, .context_external_tool_190130,
.context_external_tool_194149, .context_external_tool_188816, .context_external_tool_194148,
.context_external_tool_194557, .context_external_tool_194150 {
    background: transparent url(https://lmstools.ais.psu.edu/favicon.ico) center left no-repeat;
    padding-left: 18px !important;
}
/* tool 189972 -- Course Search*/
.context_external_tool_188453:link:hover, .context_external_tool_188455:link:hover, .context_external_tool_188457:link:hover, 
.context_external_tool_188458:link:hover, .context_external_tool_188459:link:hover, .context_external_tool_189230:link:hover, 
.context_external_tool_189972:link:hover, .context_external_tool_193330:link:hover, .context_external_tool_193389:link:hover,
.context_external_tool_189151:link:hover, .context_external_tool_193208:link:hover, .context_external_tool_193326:link:hover,
.context_external_tool_191156:link:hover, .context_external_tool_193209:link:hover, .context_external_tool_193210:link:hover,
.context_external_tool_191161:link:hover, .context_external_tool_190131:link:hover, .context_external_tool_190130:link:hover,
.context_external_tool_194149:link:hover, .context_external_tool_188816:link:hover, .context_external_tool_194148:link:hover,
.context_external_tool_194557:link:hover, .context_external_tool_194150:link:hover{
        background: #f2f2f2 url(https://lmstools.ais.psu.edu/favicon.ico) center left no-repeat !important;
        padding-left: 18px !important;
    }

#canvaspsuedu {
    background: transparent url(https://lmstools.ais.psu.edu/favicon.ico) center left no-repeat;
    padding-left: 18px !important;
}

.ic-Login__actions .ic-Login__actions-timeout {
    visibility: hidden;
}
/* Donut Chart CSS */

.progress-donut-chart {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #E5E5E5;
	position: relative;
}
.progress-donut-chart .ppc-progress {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	width: 100px;
	height: 100px;
	clip: rect(0, 100px, 100px, 50px);
}
.progress-donut-chart .ppc-percents {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 71px/2);
	top: calc(50% - 71px/2);
	width: 71px;
	height: 71px;
	text-align: center;
	display: table;
	background: #fff;
}
.progress-donut-chart .ppc-progress .ppc-progress-fill {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	width: 100px;
	height: 100px;
	clip: rect(0, 50px, 100px, 0);
	background: #E5E5E5;
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 500ms ease-out, color 300ms;
	-moz-transition: -moz-transform 500ms ease-out, color 300ms;
	-ms-transition: -ms-transform 500ms ease-out, color 300ms;
	-o-transition: -o-transform 500ms ease-out, color 300ms;
	transition: transform 500ms ease-out, color 300ms;
}

/* Discussion forum */
.discussion-read-state-btn {  
  top: 32px;  
}  

.replies {  
 padding-left: 7px;  
 border-left: solid #969696 16px;  
}  
  
div.entry-content {  
  padding-left:0px !important;  
}  